@model TestIT.Models.Course
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Predmet";
}

<link rel="stylesheet" type="text/css" href="~/css/ConcreteSubject.css" />
<script src="~/js/Course.js" type="module"></script>

<p>@Model.Name</p>
<p>@Model.Description</p>
<div class="profesori-asistenti-container">
    <div class="left-container">
        <table class="table custom-table profesori-asistenti">
            <thead>
                <tr>
                    <p style="text-align: center">Profesori</p>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var p in Model.Users)
                    {
                        var t = await UserManager.GetRolesAsync(p.User);
                        if (t.Contains("Profesor"))
                        {
                            <tr>
                                <td>@p.User.Name @p.User.Surname</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

</div>
</div>
<div class="comments-quizzes">
    <div class="subject-quizzes">
        <table class="table custom-table">
            <thead>
                <tr>
                    <td>Kvizovi</td>
                    <td>
                        @{
                            if (SignInManager.IsSignedIn(User))
                            {
                                if (!User.IsInRole("Student"))
                                {
                                    <a href='/Courses/Validate/@Model.ID' class="table-button">Ceka na validaciju</a>
                                }
                            }
                         }
                    </td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var p in Model.Quizzes)
                    {
                        <tr>
                            <td>
                                @p.Name
                            </td>
                            <td>
                                <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="subject-comments">
        <table class="table custom-table">
            <thead>
                <tr>
                    <td>Komentari</td>
                    <td>Korisnik</td>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach(var p in Model.Comments)
                    {
                        <tr>
                            <td>
                                @p.Content
                                <td>@p.ApplicationUser.Name</td>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="comment-section">
            <div class="comment-section-left">
                <textarea class="comment-content" class="form-control" style="resize: height"></textarea>
            </div>
            <div class="comment-section-right">
                <button onclick="SubmitComment();" class="btn btn-primary">Postavi</button>
            </div>
        </div>
    </div>
</div>