@model TestIT.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Korisnicki podaci";
    var currentrole = (await UserManager.GetRolesAsync(Model))[0];
}

<link rel="stylesheet" type="text/css" href="~/css/EditCourse.css">
<script src="~/js/Users.js" type="module"></script>
<body onload="set('@currentrole')">
    <h3>Pregled profila</h3>
    <hr />
    <div class="container-cst">
        <div class="left">
            <label>Korisnicko ime</label>
            <input value="@Model.UserName" class="form-control" disabled />

            <label>Ime</label>
            <input value="@Model.Name" class="form-control" disabled />

            <label>Prezime</label>
            <input value="@Model.Surname" class="form-control" disabled />
            <br />
            <div>
                <table class="table custom-table common-courses">
                    <thead>
                    <th>
                        Predmeti na koje je korisnik prijavljen
                    </th>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                foreach (var k in Model.OnCours)
                                {
                                <tr><td class="courses">@k.Course.Name</td></tr>
                            }
                            }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="right">
                <table class="table custom-table common-courses">
                    <thead>
                    <th>
                        Javni kvizovi korisnika
                    </th>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                foreach (var k in Model.Quizzes)
                                {
                                    if (k.Visibility == quizVisibility.Javni)
                                    {
                                    <tr><td class="courses">@k.Name</td></tr>
                                }
                            }
                            }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div style="margin-left:2%">
                <button onclick="window.history.back()" class="btn btn-primary">Povratak nazad</button>
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-danger" href="/Home/VS/@Model.Id" style="color:white">Izazovi</a>
                }

            </div>

            @{
                if (SignInManager.IsSignedIn(User) && ((User.IsInRole("Admin") || User.IsInRole("Moderator"))))
                {
                    <hr />
                    <h3>Administracija</h3>
                    <div style="margin-left:2%; margin-top:1%; display:flex; flex-direction:row;">
                        <form asp-action="warnUser" style="width:20%">
                            <input type="text" name="userID" value="@(Model.Id)" hidden="hidden" />
                            <input type="text" name="username" value="@(Model.UserName)" hidden="hidden" />
                            <button type="submit" class="btn btn-warning" style="color:white">Opomeni</button>
                        </form>
                        <form asp-action="DeleteUser" style="width:20%">
                            <input type="text" name="userID" value="@(Model.Id)" hidden="hidden" />
                            <input type="text" name="username" value="@(Model.UserName)" hidden="hidden" />
                            <button type="submit" class="btn btn-danger" style="color:white">Obrisi nalog korisnika</button>
                        </form>
                        
                    </div>
                    if (User.IsInRole("Admin"))
                    {
                        <div style="margin-left:2%; margin-top:1%;">
                            <form asp-action="promoteUser">
                                <input type="text" name="userID" value="@(Model.Id)" hidden="hidden"/>
                                <select id="roles" name="newRole">
                                    @{
                                        foreach (var role in RoleManager.Roles)
                                        {
                                            <option>@role</option>
                                        }
                                    }
                                </select>
                                <button type="submit" class="btn btn-primary" style="color:white">Postavi privilegije</button>
                            </form>
                        </div>
                    }


                }
            }
        </body>