@model TestIT.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "1 na 1";
}

<script src="~/js/VS.js" type="module"></script>

<h3>Izazivate korisnika: @Model.UserName</h3>
<hr />
<div class="container">
    <div class="left-container">
                @{
                    var zajednicki = ViewBag.Message as List<TestIT.Models.Course>;
                    if (zajednicki == null)
                    {
                        zajednicki = new List<Course>();
                        <p>Nemoguce je izazvati korisnika, nemate zajednicke predmete!</p>
                    }

                    foreach(var p in zajednicki)
                    {
                        <table class="table custom-table common-courses">
                            <thead>
                                <th>@p.Name</th>
                            </thead>
                            <tbody>
                                @foreach(var q in p.Quizzes)
                            {
                                @if(q.Visibility == quizVisibility.Javni)
                                    {
                                        <tr>
                                            <td>
                                                <button class="table-button text-danger" onclick="start(@q.ID,'@Model.Id')">@q.Name</button>
                                            </td>
                                        </tr>
                                    }

                    }
                            </tbody>
                        </table>
                    }
                }
    </div>
    <div class="right-container">

    </div>
    
</div>
<div>
    <a href="/Home/Users" class="btn btn-danger" >Povratak nazad</a>
</div>