@model IEnumerable<TestIT.Models.Form>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Moji kvizovi</h1>

<p>
    <input type='button' value='Napravi novi kviz' class="btn btn-primary" onclick='window.location = "@Url.Action("Create", "Forms")";' />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
                @{i++;}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
<p>Broj kreiranih kvizova: @i</p>
    </tbody>
</table>
