@model TestIT.Models.Competition

@{
    ViewData["Title"] = "Detalji turnira";
}

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            <a class="table-button" href="/Courses/@Model.Course.ID" style="color:#5190b6">@Html.DisplayFor(model => model.Course.Name)</a>
        </dd>
    </dl>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td>Korisnik</td>     
                <td>Tacnih pitanja</td>
            </tr>
        </thead>
        <tbody>

            @{
                double s;
                foreach (var p in Model.Participations)
                {
                    
                    <tr>
                        <td>@p.User.UserName</td>
                        <td>@p.Score</td>
                    </tr>
                        }
              }
               
         </tbody>
    </table>
</div>
<div>
    <a asp-action="IndexUser" class="btn btn-danger">Povratak na listu</a>
</div>
