@model IEnumerable<TestIT.Models.Competition>

@{
    ViewData["Title"] = "Turniri";
}

<h1>Turniri na prijavljenim kursevima</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                <a asp-action="Details" class="table-button"  asp-route-id="@item.ID">Details</a> |
                <a asp-action="Do" class="table-button" asp-route-id="@item.ID">Do</a>
            </td>
        </tr>
}
    </tbody>
</table>
